@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Oswald:wght@200..700&display=swap');

h1, h2, h3 h4, h5, h6{
    font-family: "Cascadia Mono";
    font-size: 175%;
    text-align: center;
    background-color: #000033;
    padding: 10px;
    border: 2px solid #0042EB;
    border-width: 0px;
    border-radius:10px;
}

body, #Hero, footer {
    font-family: "Oswald";
    background-color: #13235a;
    color: #EBA700;
}

#Hero {
    font-size:20px;
    text-align: center;
    background-color:#000033;
    padding: 5px;

}

p, li {
    margin-left: 20px;
    margin-right: 20px;
}

#Hero img{
    width: 400px;
    max-width: 100%; /* Does something with the image as the screen gets smaller*/
}

footer{
    background-color: #000033;
    padding: 3px;
    border-radius: 10px;
}

#Gallery {
    text-align: center;
}

#Gallery img {
    width: 640px;
}

#Gallery hr {
    border: none;
    border-top: 5px solid #000033;
}


/*@media (max-width: 1527px)*/
/*{*/
/* that means 'if screen <= #px' */
    /*body 
    {
        background-color:red;
    }
}*/
