@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Oswald:wght@200..700&display=swap');


h1, h2, h3 h4, h5, h6
{
    font-family: "Cascadia Mono";
    font-size: 200%;
    text-align: center;
    background-color: #000033;
    padding: 10px;
    border: 2px solid #13235a;
    border-width: 0px;
    border-radius:10px;
}

body, #Hero, footer 
{
    font-family: "Oswald";
    background-color: #13235a;
    color: #EBA700;
}

#Hero 
{
    font-size:20px;
    text-align: center;
    background-color:#000033;
    padding: 5px;
    margin-top: 2em;
}

p, li 
{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 115%;
}

#Hero img
{
    width: 400px;
    max-width: 100%; /* Does something with the image as the screen gets smaller*/
}

footer
{
    background-color: #000033;
    padding: 3px;
    border-radius: 10px;
}

#Gallery 
{
    text-align: center;
}
#Gallery img {
    max-width:100%;
}


#Gallery hr 
{
    border: none;
}

#Hobbies p {
    align-items: center;
}

#Hobbies p, #Hobbies ul
{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

article div
{
    max-width: 100%;
    columns: 40rem;
    padding: 2em;
}

#video iframe {
    display: block;
    /*width: 600px;
    height: 350px;*/
    max-width: 100%;
    aspect-ratio: 3/2;
    margin-left: auto;
    margin-right: auto;
}

#video figcaption {
    margin-top: 1%;
    margin-bottom: 2%;
}

@media (min-width: 600px)
{    
    #video iframe
    {
        max-width: 55%;
    } 
}

@media (min-width: 960px)
{
    /*min-width means 'if screen >= #px' */
    #Gallery figure 
    {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }
    figcaption
    {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:110%;
        margin-left: 1rem;
    }
}

@media (min-width: 1200px)
{
    /*min-width means >= */

    #Hobbies ul {
        margin-left: 100px;
        margin-right: 50px;
    }

    #Gallery
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #Gallery figure
    {
        display: block;
    }

    #Gallery h2
    {
        grid-column-start: 1;
        grid-column-end: -1;
    }

    #Gallery hr
    {
        display: none;
    }
}

/*Contact Form*/

#formElements {
    display:grid;
    row-gap: 0.5em;
}

#Contact form {
    padding: 1rem;
    margin: 2rem auto;
}

fieldset {
    background-color: #000033;
    border: 3px solid #EBA700;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1rem;
    width: 50%;
    justify-self:center;
}

legend {
    padding: 0.5em;
    background-color: #000033;
    border: 2px solid #EBA700;
}

#Contact input, #Contact textarea, #Contact select, #Contact button {
    padding: 0.5em;
    font-size: 1em;
}

#Contact ul {
    list-style: none;
    padding: 0px;
}

#Contact li {
    margin: 1rem;
}

#Contact button{
    background-color: #13235a;
    border: 2px solid #EBA700;
    color: #EBA700;
    max-width: 400px;
    width: 50%;
    justify-self: center;
}